#header {

	li {
    width: 48px;
		height: 48px;
	}

	.mail {
		background: image-url('fc-webicons/fc-webicon-mail.png');
	}
	.twitter {
		background: image-url('fc-webicons/fc-webicon-twitter.png');
	}
	.linkedin {
		background: image-url('fc-webicons/fc-webicon-linkedin.png');
	}
	.github {
		background: image-url('fc-webicons/fc-webicon-github.png');
	}

}