$linkDimensions: 30px;

#header {

	ul {
		padding-top: 15px;
		list-style-type: none;
		display: block;
	}

	li {
		float: left;
		display: inline-block;
		padding-left: 10px;
    	width: $linkDimensions;
		height: $linkDimensions;
	}

	.mail {
		background: image-url('fc-webicons/fc-webicon-mail-m.png') no-repeat;
	}
	.twitter {
		background: image-url('fc-webicons/fc-webicon-twitter-m.png') no-repeat;
	}
	.facebook {
		background: image-url('fc-webicons/fc-webicon-facebook-m.png') no-repeat;
	}
	.pinterest {
		background: image-url('fc-webicons/fc-webicon-pinterest-m.png') no-repeat;
	}

}