@media -sass-debug-info{filename{font-family:file\:\/\/\/clients\/personal\/test\/test-yeoman\/app\/styles\/header\.scss}line{font-family:\000033}}
#header li {
  width: 48px;
  height: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/clients\/personal\/test\/test-yeoman\/app\/styles\/header\.scss}line{font-family:\000038}}
#header .mail {
  background: url('../../images/fc-webicons/fc-webicon-mail.png');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/clients\/personal\/test\/test-yeoman\/app\/styles\/header\.scss}line{font-family:\0000311}}
#header .twitter {
  background: url('../../images/fc-webicons/fc-webicon-twitter.png');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/clients\/personal\/test\/test-yeoman\/app\/styles\/header\.scss}line{font-family:\0000314}}
#header .linkedin {
  background: url('../../images/fc-webicons/fc-webicon-linkedin.png');
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/clients\/personal\/test\/test-yeoman\/app\/styles\/header\.scss}line{font-family:\0000317}}
#header .github {
  background: url('../../images/fc-webicons/fc-webicon-github.png');
}
